@import url("https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap");

body {
  background: white;
  background-attachment: fixed;
}

a {
  text-decoration: none;
  color: #354548;
}

a:hover {
  text-decoration: none;
  color: #000;
}

.container {
  padding-top: 50px;
}

.row {
  height: 90vh;
}

.app__main-content {
  background-color: #fff;
  border-radius: 20px;
  padding: 25px 15px;
  box-shadow: 0 0 10px black;
}

/* sidebar */
.sidebar {
  background-color: #fff;
  height: 100%;
  border-radius: 20px;
  padding: 25px 15px;
  box-shadow: 0 0 10px black;
  text-align: center;
}

.sidebar__avatar {
  height: 110px;
  width: 120px;
  object-fit: contain;
  border-radius: 30px;
}

.sidebar__icon {
  width: 25px;
  height: 25px;
}

.sidebar__name {
  font-family: "Bungee Outline";
  margin: 20px 0;
  font-size: 1.7rem;
}

.sidebar__name > span {
  color: #01723e;
}

.sidebar__item {
  margin-bottom: 6px;
  padding-top: 6px;
  height: 40px;
  font-size: 1.05rem;
  border-radius: 30px;
}

.sidebar__title {
  background-color: #f1f1f1;
  border-radius: 30px;
}

.sidebar__contact {
  background-color: #dbdddf;
  padding: 2px 0;
  margin: 20px -15px;
}

.sidebar__email {
  background: #01723e;

  border-radius: 30px;
  color: #fff;
  margin: 15px 25px 0px;
  cursor: pointer;
  transition: all 3s linear;
}

.sidebar__email:hover {
  transform: scale(1.2);
}

.sidebar__github:hover,
.sidebar__resume:hover {
  background-color: #f1f1f2;
  color: #000;
}

.navbar__items {
  display: flex;
}

.navbar__active {
  font-size: 2rem;
  font-weight: 200;
  color: #353535;
  border-bottom: 4px solid #fa4616;
}

.navbar__item {
  margin-right: 20px;
  text-decoration: none;
  color: #01723e;
  font-size: 1.3rem;
  cursor: pointer;
}

.navbar__item:hover {
  color: #fa4616;
}
